@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

body{
    font-family: 'Inter', sans-serif !important;
}

.logo{
    width: 75px;
    height: 75px;
    margin-left: 50px;
}

.cartWidget{
    display: flex;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

.cartNumber{
    color: white;
}

.carro{
    width: 70px;
    height: 70px;
}

.greeting{
    text-align: center;
    font-weight:400;
    margin-top: 50px;
}

.pad1{
    border-radius:10px;
    height: 35px;
    width: 150px;
    margin-top: 10px;
    color: black;
    outline: auto;
}

.hover :hover{
    color: red;
}

.botones{
    border: none;
    color: #0d6efd;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centrado{
    text-align: center;
}

.color{
    background-color: white;
}

.orden{
    display: flex;
    flex-direction: column;
}

.carousel-item {
    height: 809px;
    overflow: hidden;
}

.carousel-item img {
    height: 809px;
    object-fit: cover;
    object-position: center;
}

footer{
    background-color: black;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.footerIcon{
    display: flex;
    justify-content: space-evenly;
    width: 180px;
}


@media (max-width: 992px) {
    .responsive{
        display: none;
    }

    .responsive2{
        position: absolute;
        right: 19%;
    }

    .carro{
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 420px) {
    .responsive{
        display: none;
    }

    .carro{
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 370px) {
    .responsive{
        display: none;
    }

    .carro{
        width: 30px;
        height: 30px;
    }

    .responsive2{
        position: absolute;
        right: 19%;
    }
}

@media (max-width: 1400px){
    .container{
        max-width: 1400px !important;
    }
}


@media (max-width: 1200px){
    .container{
        max-width: 1200px !important;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 992px !important;
    }
}


@media (max-width: 768px){
    .container{
        max-width: 768px !important;
    }
}

@media (max-width: 576px){
    .container{
        max-width: 576px !important;
    }
}
